
@{
    ViewData["Title"] = "ContaceUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*  start Body *@
<section>
    <center>
        <div class="mt-2 bg-secondary p-5 w-75">
            <h1>
                Welcome To Contace Us Page
            </h1>
            <p> Route Academy</p>
        </div>
    </center>
</section>
@*End Body  *@

